* {
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    text-align:
}

#main {
    background-color: #c4e4e4;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    padding: 5%;
    color: #053e42;
    border-radius: 5%;
}

select {
    width: 30%;
    padding: 16px 20px;
    border: none;
    display: inline;
    background-color: #f1f1f1;
    border-radius: 10px;
    text-align: center;
}

input {
    border-radius: 10px;
    padding: 16px 20px;
    border: none;
    background-color: #f1f1f1;
}

textarea {
    border-radius: 10px;
    padding: 16px 20px;
    border: none;
    background-color: #f1f1f1;
}